.DS_Store
__pycache__/
.pytest_cache/
.ruff_cache/
.venv/
*.pyc
*.pyo
*.pyd
*.egg-info/

data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep

models/*
!models/.gitkeep
reports/figures/*
!reports/figures/.gitkeep
